.skill {
    width: 30%;
    background-color: #564d67;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
}

.icon{
    width: 30px;
    height: 30px;
    background-color: #8e7da8;
}


@media screen and (max-width: 769px) {
    .skill {
        width: 48%;
    }
}
@media screen and (max-width: 560px) {
    .skill {
        width: 100%;
    }
}
