.container {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

h1{
    background-color: #753bd0;
}
h2{
    background-color: #814ed0;
}
h3{
    background-color: #825ecb;
}
@media screen and (max-width: 1279px) {
    .container {
        width: 85%;
    }
}
@media screen and (max-width: 769px) {
    .container {
        width: 90%;
    }
}


